:root {
    --main-bg-color: rgb(232, 232, 232);
    --add-btn-color: rgb(160, 160, 160);
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
}

.content-wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
}

.add-course-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.add-course-button button {
  display: block;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 2px solid var(--add-btn-color);
  font-size: 3rem;
  text-align: center;
  transition: transform ease-in-out 0.2s;
}

.add-course-button button:hover {
    border: 2px solid var(--add-btn-color);
    font-size: 3rem;
    transform: scale(1.1) perspective(0.5px);
}
