:root {
    --main-bg-color: rgb(232, 232, 232);
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
}

.content-wrapper {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
    font-size: 4rem;
}

.add-course-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.add-course-button button {
  display: block;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 2px solid black;
  font-size: 3rem;
}

.add-course-button span {
    font-size: 1.5rem;
}