.courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.course {
    padding: 30px;
    border-radius: 40px;
    background-color: rgb(99, 31, 31);
    width: min(800px, calc(100vh - 50px));
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}

.course .header {
    display: flex;
    justify-content: space-between;
}

.course .header button {
    display: block;
    height: 2.3rem;
    width: 2.3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.course .header button img {
    position: absolute;
}

.course input {
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    width: calc(100% - 80px);
    inline-size: calc(100% - 80px);
    overflow-wrap: break-word;
    hyphens: manual;
}

.course input::placeholder {
    color: rgb(168, 168, 168);
}

.course input:focus {
    border-bottom: 1px solid white;
}

.course-input-name {
    font-size: 2rem;
}

.course-menu-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.course-input-prof {
    font-size: 1.3rem;
}

.course .link-header, .course .todos-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course .link-header-left, .course .todos-header-left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
    margin-top: 20px;
}

.course .link-header-left span, .course .todos-header-left span {
    font-size: 1.5rem;
}

.small-button {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
  transition: transform ease-in-out 0.2s;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.small-button:hover {
    transform: scale(1.1) perspective(0.5px);
}

.link-header-right, .todo-header-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
}

.link-header-right-top, .todo-header-right-top {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
    margin-top: 20px;
}

.link-header-right.hidden, .link-header-right-bottom.hidden, .todo-header-right.hidden, .todo-header-right-bottom.hidden {
    display: none
}

.course .link-header-right .link-input, .task-input.name {
    border-bottom: 1px solid white;
}

.course .link-header-right .link-input.name {
    width: 150px;
}

.course .link-header-right .link-input.link, .task-input.name {
    width: 300px;
}

.link-header-right-bottom, .todo-header-right-bottom {
    color: white;
    font-size: 0.8rem;
}

.link-container {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.link-bubble {
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    border-radius: 20px;
    font-size: 1rem;
    align-items: center;
}

.link-bubble:hover {
    background-color: rgb(240, 240, 240);
}

.link-bubble a {
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

.link-bubble button {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    color: rgb(147, 147, 147);
}

.link-bubble button:hover {
    color: black;
}

.todos {
    margin-top: 30px;
}

.todos-container {
    background-color: white;
    padding: 18px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 18px;
}

.todo-point {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.todo-point span {
    padding-bottom: 3px;
    border-bottom: 1px solid black;
    width: 100%;
}

.todo-check-btn {
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: transparent;
  border: 1px solid black;
}

.todo-check-btn.checked {
    background-color: rgb(0, 0, 0);
}


@media (max-width: 800px) {
    .courses {
        width: calc(100vw - 40px);
    }

    .course {
        width: auto;
        gap: 5px;
    }

    .content-wrapper {
        gap: 50px;
    }

    .course-input-name {
        font-size: 1.5rem;
    }

    .course-input-prof {
        font-size: 1rem;
    }

    .course .link-header-left span, .course .todos-header-left span {
        font-size: 1.2rem;
    }

    .small-button {
        height: 1.2rem;
        width: 1.2rem;
        font-size: 0.6rem;
    }

    .course .header button {
        height: 2rem;
        width: 2rem;
    }

    .link-bubble {
        padding: 5px;
    }

    .link-bubble a {
        font-size: 0.8rem;
    }

    .todo-point-text {
        font-size: 0.8rem;
    }

    .todo-check-btn {
        height: 0.8rem;
        width: 0.8rem;
    }

    .todos-container {
        padding: 5px;
    }

    .course .link-header, .course .todos-header {
        flex-direction: column;
    }

    .link-header-right-top, .todo-header-right-top {
        flex-direction: column;
    }

    .link-header-right-top .small-button, .todo-header-right-top, .small-button {
        align-self: flex-end;
    }

    .course .link-header-right .link-input.name {
        width: 100%;
    }
    
    .course .link-header-right .link-input.link, .task-input.name {
        width: 100%;
    }
 }
