.course-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.course {
    padding: 30px;
    border-radius: 30px;
    background-color: rgb(62, 62, 62);
    max-width: 1200px;
    min-width: 800px;
    
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}

.course .header {
    display: flex;
    justify-content: space-between;
}

.course .header button {
    display: block;
    height: 2.3rem;
    width: 2.3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.course .header button img {
    position: absolute;
}

.course input {
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    width: calc(100% - 80px);
}

.course input::placeholder {
    color: rgb(201, 201, 201);
}

.course input:focus {
    border-bottom: 1px solid white;
}

.course-input-name {
    font-size: 2rem;
}

.course-input-prof {
    font-size: 1.3rem;
}

.course .link-header, .course .todos-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
    margin-top: 20px;
}

.course .link-header h3, .course .todos-header h3 {
    font-size: 1.5rem;
}

.course .link-header button, .course .todos-header button {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
  transition: transform ease-in-out 0.2s;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.course .link-header button:hover, .course .todos-header button:hover {
    transform: scale(1.1) perspective(0.5px);
}


.todos-container {
    background-color: white;
}