.course-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.course {
    padding: 30px;
    border-radius: 40px;
    background-color: rgb(62, 62, 62);
    max-width: 1200px;
    min-width: 800px;
    
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}

.course .header {
    display: flex;
    justify-content: space-between;
}

.course .header button {
    display: block;
    height: 2.3rem;
    width: 2.3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.course .header button img {
    position: absolute;
}

.course input {
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    width: calc(100% - 80px);
}

.course input::placeholder {
    color: rgb(201, 201, 201);
}

.course input:focus {
    border-bottom: 1px solid white;
}

.course-input-name {
    font-size: 2rem;
}

.course-input-prof {
    font-size: 1.3rem;
}

.course .link-header, .course .todos-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course .link-header-left, .course .todos-header-left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
    margin-top: 20px;
}

.course .link-header-left span, .course .todos-header-left span {
    font-size: 1.5rem;
}

.small-button {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
  transition: transform ease-in-out 0.2s;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.small-button:hover {
    transform: scale(1.1) perspective(0.5px);
}

.course .link-header-right {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
    margin-top: 20px;
}

.course .link-header-right.hidden {
    display: none
}

.course .link-header-right .link-input {
    border-bottom: 1px solid white;
}

.course .link-header-right .link-input.name {
    width: 150px;
}

.course .link-header-right .link-input.link {
    width: 300px;
}


.link-container {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.link-bubble {
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    border-radius: 20px;
    font-size: 1rem;
    align-items: center;
}

.link-bubble:hover {
    background-color: rgb(240, 240, 240);
}

.link-bubble a {
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

.link-bubble button {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    color: rgb(147, 147, 147);
}

.link-bubble button:hover {
    color: black;
}





.todos {
    margin-top: 30px;
}

.todos-container {
    background-color: white;
}